data/128a-54.csi.json filter=lfs diff=lfs merge=lfs -text
data/128a-54.csi.json.gz filter=lfs diff=lfs merge=lfs -text
data/annotations.csv filter=lfs diff=lfs merge=lfs -text
data/csi.csv filter=lfs diff=lfs merge=lfs -text
data/Subject[[:space:]]21.zip filter=lfs diff=lfs merge=lfs -text
data/Subject[[:space:]]3.zip filter=lfs diff=lfs merge=lfs -text
data/Subject[[:space:]]13.zip filter=lfs diff=lfs merge=lfs -text
data/Subject[[:space:]]12.zip filter=lfs diff=lfs merge=lfs -text
data/Subject[[:space:]]2.zip filter=lfs diff=lfs merge=lfs -text
data/dateset.md filter=lfs diff=lfs merge=lfs -text
data/Subject[[:space:]]22.zip filter=lfs diff=lfs merge=lfs -text
data/Subject[[:space:]]23.zip filter=lfs diff=lfs merge=lfs -text
data/Subject[[:space:]]1.zip filter=lfs diff=lfs merge=lfs -text
data/Subject[[:space:]]11.zip filter=lfs diff=lfs merge=lfs -text
data/E1_S01_C01_A01_T01.csv filter=lfs diff=lfs merge=lfs -text
data/E3_S23_C05_A12_T20.csv filter=lfs diff=lfs merge=lfs -text
